*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    
}
#main-page{
    background: url(img/bg.jpg) no-repeat center;
    background-size: cover;
    height: 80vh;
}
.main-navi{
    position: sticky;
    top: 0;
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}

.main-navi .logo {
    height: 80px;
    display: flex;
    align-items: center;
}
.main-navi .logo i { 
    font-size: 40px;
    position: relative;
    top: 6px;
}
.main-navi .logo a {
    text-decoration: none;
    color: rgb(255, 56, 92);
    font-size: 1.5rem;
    font-weight: 900;
    padding-bottom: 7px;
    /* padding: 10px 0px; */
}
.main-navi .search .button {
    height: 48px;
    width: 300px;
    border-radius: 30px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: white;
    outline: none;
}
.main-navi .search .button:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.main-navi .search .button .rButton {
    background-color:rgb(255, 56, 92); 
    color: white;
    border-radius: 50%;
    padding: 5px 7px;
}
.main-navi .search .button .rButton i {
    font-size: 10px;
}

.main-navi .menu {
    display: flex;
    justify-content: space-around;
    /* width: 25%; */
}
.main-navi .menu .item {
    margin: 0 5px;
    padding: 7px;
}
.main-navi .menu .item:hover{
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
.main-navi .menu button{
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: white;
}
.main-navi .menu .item i{
    padding: 0 3px;
}
.main-navi .menu button.item:hover{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
#main-page .flex{
    display: flex;
    justify-content: center;
    align-items: center;
}